/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  color: #696969;
  font-size: 1.2rem;
  line-height: 28px;
}
.container {
  width: 90%;
  margin: auto;
}
ul {
  list-style: none;
}
li {
  text-decoration: none;
}
/* hoai code  */
h1 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: black;
  text-transform: capitalize;
}
h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
h4 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
}
/* phần Get In Touch With Us  */
.contact__title {
  text-align: center;
  margin-bottom: 20px;
}
.contact__content {
  display: flex;
}
.contact__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.contact__form input {
}
