/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  color: #696969;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* hoai code  */
h1 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: black;
  text-transform: capitalize;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: #000c04;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
h4 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* BUTTON READ MORE */
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

a.read:hover {
  color: #189a46;
  text-decoration: none;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.border-btn:hover {
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
}

a.title-head {
  color: #000c04;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  transition: all 0.5s ease;
  text-decoration: none;
}
h4:hover a.title-head {
  text-decoration: none;
  color: #189a46;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* HEADER */
header.mainHeader {
  /* width: 1349px; */
  background-color: #fff;
  height: 90px;
  display: grid;
  align-items: center;
  padding: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease;
}

.dark header.mainHeader {
  background-color: black;
}

nav ul li {
  display: inline-block;
  text-align: center;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  color: #189a46;
}

.navbar-brand:hover a,
.navbar-brand:focus a {
  color: #189a46;
  opacity: 0.95;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1.2em;
  font-weight: 400;
  padding: 14px 0;
  color: #000c04;
  position: relative;

  transition: all 0.5s ease;
}

.dark .navbar-expand-lg .navbar-nav .nav-link {
  color: #dddddd;
}

.navbar-expand-lg .navbar-nav .nav-item.active a,
.navbar-expand-lg .navbar-nav .nav-item a.nav-link:hover {
  color: #189a46;
}

.navbar-expand-lg .navbar-nav .nav-item.dropdown {
  padding-right: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  bottom: 13px;
  content: "";
  width: 0;
  height: 1px;
  display: block;
  background-color: #189a46;
  transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover::before {
  width: 100%;
}

.dropdown-toggle::after {
  display: none;
}

.menu-item-has-children::after {
  position: absolute;
  right: 5px;
  top: 23px;
  display: inline-block;
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: small;
  color: #999;
}

.dropdown-menu {
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  transform: translateX(-50px);
  margin: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: -7px;
  left: 49%;
  display: block;
  z-index: 1001;
  background: #fff;
  transform: translateX(-50%) rotateZ(45deg);
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000c04;
  padding-top: 0;
  width: 100px;
  padding-bottom: 14px;
}

.fixed-top {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1033;
}

.nav-fixed{
  padding: 0px;
    background-color: white;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

li a.searchIcon {
  background-color: #936be80d;
  font-size: 16px;
  color: #189a46;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  border: none;
  line-height: 45px;
  transition: all 0.5s ease;
}

ul .navSearch:hover a.searchIcon {
  background-color: #189a46;
  color: white;
}

.pop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: #000000ba;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0ms;
  z-index: 99;
}

.pop-overlay:target {
  opacity: 1;
  visibility: visible;
}

.searchPopup {
  position: relative;
  margin: 0rem auto;
  padding: 15px;
  top: 50%;
  max-width: 600px;
}

.searchPopup form input[type="search"] {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000;
  line-height: 25px;
  height: 55px;
  padding: 15px 20px 12px;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-right: none;
}

.searchPopup form input:focus {
  outline: none;
}

.searchPopup form button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  border: none;
  background: #189a46;
  padding: 0 25px;
  border-left: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.searchPopup form button:hover {
  opacity: 0.8;
}

.searchPopup form .close {
  position: absolute;
  right: 20px;
  top: -50px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.close {
  float: right;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
}

.theme-switch input {
  display: none;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin-left: 20px;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}
.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:after {
  transform: rotate(45deg);
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.dark .gg-sun {
  color: #404040;
}

.mode-container i.gg-sun,
.dark .mode-container i.gg-moon {
  display: none;
}

.mode-container i.gg-moon,
.dark .mode-container i.gg-sun {
  display: block;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

/* CAROUSEL */

.carousel{
  display: block;
}

.carousel-owl {
  position: relative;
}

.carouselInfo {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.item .carouselInfo {
  background-image: url(../img/banner1.jpg);
  background-size: cover;
  background-position-y: 90px;
}

.owl-carousel .item-2 .carouselInfo {
  background-image: url(../img/banner2.jpg);
  background-size: cover;
}

.carouselView::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.carouselContent p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
  font-size: 1.2em;
}

.carouselContent {
  max-width: 700px;
}

.carouselContent h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.owl-carousel .owl-dots {
  text-align: center;
  display: block;
}

.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  padding: 1px 6px !important;
}

.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots button:hover span {
  background: #189a46;
  width: 30px;
}

.owl-nav {
  display: none;
}

/* ABOUT US */
.aboutContent {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

.aboutContent p {
  font-size: 1.2em;
  line-height: 28px;
}

/* FEATURES */
#features {
  background-color: #936be80d;
}

.featuresContent .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.grid-feature {
  margin-bottom: 30px;
}

.col-lg-4,
.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.featuresContent .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.icon span {
  color: #189a46;
  font-size: 30px;
}

.featuresContent .icon h4:hover a.title-head {
  text-decoration: none;
  color: #189a46;
}

/* SERVICES */
.services .row .contentLeft img {
  border-radius: 10px;
}

.services .row .contentRight {
  align-self: center;
}

.services .row .contentRight p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
}

.services .row .contentRight ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000c04;
  margin: 15px 0;
  font-weight: 600;
}

.services .row .contentRight ul li span {
  color: #189a46;
  margin-right: 12px;
  background: #936be80d;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* NUMBER */
.number {
  background-color: #189a46;
}

.number .stats_info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.number .stats_info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
}

.number .stats_info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* PLAN */

.plan {
  background-color: #936be80d;
}

.w3l-pricing-7-main .pricing-sec-7 {
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.w3l-pricing-7-main .pricing-gd-left {
  background: white;
  border-radius: 6px;
  align-self: center;
}

.w3l-pricing-7-main .pric-7-1 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.w3l-pricing-7-top {
  text-align: center;
}

.w3l-pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}

.w3l-pricing-7-main h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.w3l-pricing-7-main h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}

.w3l-pricing-7-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.w3l-pricing-7-main h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.w3l-pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}

.w3l-pricing-7-main ul.links {
  min-height: 120px;
}

.w3l-pricing-7-main ul.links li {
  list-style: none;
  margin-bottom: 5px;
  color: #696969;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  padding-top: 6px;
}

.w3l-pricing-7-main .buy-button {
  margin-top: 2em;
}

.btn-primary {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}

.btn-primary:hover {
  color: #fff;
  background-color: #116E32;
  border-color: #116E32;
  text-decoration: none;
}

.w3l-pricing-7-main .pricing-gd-left.active .btn-primary:hover {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}

.w3l-pricing-7-main .pricing-gd-left.active {
  transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-radius: 6px;
  padding: 0;
}


.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
  padding: 3em 2.5em 0.5em;
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.w3l-pricing-7-main h5 {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.w3l-pricing-7-main .pricing-gd-left.active h6, .w3l-pricing-7-main .pricing-gd-left.active h4 {
  color: #fff;
}

.w3l-pricing-7-main .pricing-gd-left.active h4 span {
  color: #eee;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-bottom {
  padding: 2em 2.5em 3.5em;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #189A46;
  border-color: #189A46;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(15, 162, 67, 0.65);
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #116E32;
  border-color: #116E32;
  box-shadow: 0 0 0 0.2rem rgba(15, 162, 67, 0.65);
}

.w3l-pricing-7-main .pric-7-2 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-left: 0;
}

/* FOOTER  */
.footer {
  background-color: #111111;
}
.footer__section {
  display: flex;
  padding-top: 30px;
}
.footer__item1 {
  width: 100%;
  padding: 30px 0 30px 0;
}
.footer__item1 p {
  line-height: 33px;
}
.footer__icon {
  /* padding: 10px 20px 0 0; */
}
.footer__icon i {
  font-size: 15px;
  padding: 15px 20px 0 0;
}
.footer__item {
  width: 30%;
  padding: 30px 55px 30px 0;
}
.footer__item ul li a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 33px;
  color: #696969;
  font-family: "Jost", sans-serif;
}
.footer__item a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 33px;
  color: #696969;
  font-family: "Jost", sans-serif;
}
.copyright {
  padding: 15px 0 20px 0;
  text-align: center;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1d1818;
  margin: 1em 0;
  padding: 0;
}
.copyright span {
  color: #f53626;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 10px;
  }
}

@media (max-width: 1080px) {
  .hny-title {
    font-size: 35px !important;
    line-height: 40px;
  }
}

@media (min-width: 992px) {
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
}
@media (min-width: 992px) {
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 1366px) {
  .w3l-pricing-7-main .pricing-sec-7 {
    width: 90%;
  }
}
